
 <nav class="navbar  navbar-expand-lg bg-light border-bottom border-body" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="https://images.falabella.com/v3/assets/bltf612eb601c634386/blt65c0b471411a42ec/63bd9f61cb9ce5175b0f39c3/Logo_linio.png" alt="Logo" width="90" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="link-secondary link-offset-2 link-opacity-100-hover text-decoration-none" aria-current="page" routerLink="/login">Iniciar Sección<i class="bi bi-person"></i></a>
                </li>

            </ul>
            <div class="d-flex">

                <a class="link-secondary link-offset-2 link-opacity-100-hover text-decoration-none" routerLink="/carro">Carro <i class="bi bi-cart"></i></a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>