<img src="https://i.linio.com/cms/5b124f12-84c1-11ee-9cfc-bad00e64229f.webp" class="mx-auto d-block">

<div class="d-flex">
    <app-ecommerce link_prod="/carro" img="https://i.linio.com/p/13673d1ad2b83fd5f2565cf1906a21e2-product.webp" title="
    Televisor Samsung 40 Full hd Smart Tv 40T5290" or_price="$1.699.900" avg="32%" price="$1.149.900">
    <button class="btn btn-primary agregar-carro" data-nombre=" Televisor Samsung 40" data-precio="$1.149.900">Agregar al carro</button>  </app-ecommerce>
    
    <app-ecommerce link_prod="/carro" img="https://i.linio.com/p/d947657ab6f7caaa6608e76c6168ded4-product.webp" title="
    TV KALLEY 32 Pulgadas 81 cm ATV32HDW HD LED Plano Smart TV Android" or_price="$1.099.900" avg="38%" price="$679.900">
    <button class="btn btn-primary agregar-carro" data-nombre=" TV KALLEY 32 Pulgadas" data-precio="$679.900">Agregar al carro</button>
 </app-ecommerce>
    
    <app-ecommerce link_prod="/carro" img="https://i.linio.com/p/b96708fb48fa10887c16f60c9d1bd46d-product.webp" title="
    Televisor Hyundai Google Smart 43 Fhd Comando De Voz" or_price="$1.429.900" avg="32%" price="$959.900">
    <button class="btn btn-primary agregar-carro" data-nombre="Televisor Hyundai Google Smart 43" data-precio="959.900">Agregar al carro</button>
    </app-ecommerce>
    
    <app-ecommerce link_prod="/carro" img="https://i.linio.com/p/99a2a3a474a2a5c5f394088e98c30522-product.webp" title="
    Televisor SAMSUNG 55 Pulgadas 139.7 cm 55CU7000 4K-UHD LED Smart TV" or_price="$3.399.900" avg="44%" price="$1.877.900">
    <button class="btn btn-primary agregar-carro" data-nombre="Televisor SAMSUNG 55" data-precio="$1.877.900">Agregar al carro</button>
</app-ecommerce>
</div>